<!-- Start sidebar -->
<div>

    <input type="checkbox" id="check">
    <label for="check">
      <i class="fas fa-bars" id="btn"></i>
      <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">
      <header><font style="color:gray">F</font><font style="color:red">L</font><font style="color:pink">I</font><font style="color:orange">P</font><font style="color:violet">S</font><font style="color:brown">I</font><font style="color:green">D</font><font style="color:rosybrown">E</font></header>
      <a href="{% url 'dashboard-index' %}">
        <i class="fas fa-qrcode"></i>
        <span>Dashboard</span>
      </a>
      <a href="{% url 'dashboard-product' %}">
        <i class="fas fa-archive"></i>
        <span>Assets</span>
      </a>
      <a href="{% url 'dashboard-procurement' %}">
        <i class="fas fa-stream"></i>
        <span>Procurement</span>
      </a>
      <a href="{% url 'dashboard-component' %}">
        <i class="fas fa-microchip"></i>
        <span>Unit Assembly</span>
      </a>
      <a href="{% url 'dashboard-allocation' %}">
        <i class="fa fa-share-square"></i>
        <span>Allocation</span>
      </a>
      <a href="{% url 'dashboard-order' %}">
        <i class="bi bi-hammer"></i>
        <span>Job Order</span>
      </a>
      <a href="{% url 'dashboard-final-disposal' %}">
        <i class="fas fa-trash"></i> 
        <span>Disposals</span>
      </a>
      <a href="{% url 'dashboard-employee-list' %}">
        <i class="far fa-user"></i>
        <span>Employees</span>
      </a>
      <a href="{% url 'dashboard-employee' %}">
        <i class="fas fa-user-secret"></i>
        <span>Users</span>
      </a>
      <a href="{% url 'dashboard-about' %}">
        <i class="far fa-question-circle"></i>
        <span>About</span>
      </a>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

      &nbsp; &nbsp; &nbsp; <strong>All rights reserved ⓒ 2022</strong>
</div> 
</div>

    

<!-- End sidebar -->