<!-- Start sidebar -->
<div>
    <input type="checkbox" id="check">
    <label for="check">
      <i class="fas fa-bars" id="btn"></i>
      <i class="fas fa-times" id="cancel"></i>
    </label>
    <div class="sidebar">
      <header><font style="color:gray">F</font><font style="color:red">L</font><font style="color:pink">I</font><font style="color:orange">P</font><font style="color:violet">S</font><font style="color:brown">I</font><font style="color:green">D</font><font style="color:rosybrown">E</font></header>
      <!--<a href="{% url 'dashboard-index' %}">
        <i class="fas fa-qrcode"></i>
        <span>Dashboard</span>
      </a>
      <a href="#">
        <i class="fas fa-archive"></i>
        <span>Assets</span>
      </a>
      <a href="#">
        <i class="fas fa-stream"></i>
        <span>Procurement</span>
      </a>
      <a href="#">
        <i class="fas fa-trash"></i>
        <span>Disposal</span>
      </a>-->
      <a href="https://flipsidecontent.com/">
        <i class="fa fa-folder"></i>
        <span>Flip Content</span>
      </a>
      <a href="https://flipside.ai/">
        <i class="fa fa-window-maximize"></i>
        <span>Flip AI</span>
      </a>
      <a href="{% url 'dashboard-about' %}">
        <i class="far fa-question-circle"></i>
        <span>About</span>
      </a>
</div>
</div>
    

<!-- End sidebar -->