<!--Topside-->
<div class="container">
    <div class="row mt-8">
        <!--<div class="col-md-4">
            <div class="card">
                <div class="card-header bg-info text-white">
                    Flipside Admin Inventory 
                </div>
                <div class="card-body">
                    <marquee behavior="" direction="" scrollamount="15">
                        <h3 class="my-4">
                            This inventory is a property of Flipside AI. This houses and provides the overview, employees, inventory, and the orders made.
                            </h3>
                            <hr>
                    </marquee>
                </div>
            </div>
        </div>-->
        <div class="col-md-4">
            <div class="card">
                <div class="card-header bg-info text-white">
                    Location
                </div>
                <div class="card-body">
                    <div class="row">
                        
                        <div class="card" style="width: 30rem;">
                            <img class="card-img-top" src="/media/Images/Flip1.jpg" alt="Card image cap">
                            <div class="card-body">
                              <p class="card-text"><br>Located at International Centre of Information Technology Education, Orchard Rd, Bagumbayan, Quezon City, 1800 Metro Manila.<br></p>
                            </div>
                          </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header bg-info text-white">
                    Logo
                </div>
                <div class="card-body">
                    <div class="row">
                        
                        <div class="card" style="width: 30rem;">
                            <img class="card-img-top" src="/media/Images/FDCCI_logo.jpg" alt="Card image cap">
                            <div class="card-body">
                              <p class="card-text"><br>Flipside Digital Content Company, Inc. is the culmination of over 26 years of content digitization, ebook conversion, distribution, and publishing services.</p>
                            </div>
                          </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header bg-info text-white">
                    Overview
                </div>
                <div class="card-body">
                    <div class="row">
                        
                        <div class="card" style="width: 30rem;">
                            <img class="card-img-top" src="/media/Images/Flip3.JPG" alt="Card image cap">
                            <div class="card-body">
                              <p class="card-text">AI relies on datasets, but it still needs people to make sense of the data. We provide fully-trained teams who can label, annotate and review your datasets.</p>
                            </div>
                          </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Topside-->