<!--Topside-->
<div class="container">
    <div class="row mt-8">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-info text-white">
                    Overview
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <a class="text-decoration-none text-dark" href="{% url 'dashboard-employee1' %}" id="disabledLink">
                                <div class="card my-card shadow text-center p-3">
                                    <h4>Users <i class="fas fa-users"></i></h4>
                                    <h3>{{ workers_count }}</h3>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="text-decoration-none text-dark" href="{% url 'dashboard-product2' %}" id="disabledLink">
                                <div class="card my-card shadow text-center p-3">
                                    <h4>Assets <i class="fas fa-box"></i></h4>
                                    <h3>{{ products_count }}</h3>
                                </div>
                            </a>
                        </div>
                        <!--<div class="col-md-4">
                            <a class="text-decoration-none text-dark" href="{% url 'dashboard-order' %}">
                                <div class="card my-card shadow text-center p-3">
                                    <h4>Orders <i class="fas fa-shipping-fast"></i></h4>
                                    <h3>{{ orders_count }}</h3>
                                </div>
                            </a>
                        </div>-->

                        <div class="col-md-4">
                            <a class="text-decoration-none text-dark" href="{% url 'dashboard-product-filter2' %}" id="disabledLink">
                                <div class="card my-card shadow text-center p-3">
                                    <h4>Filter<i class="fas fa-filter"></i></h4>
                                    <h4>Items<h/4>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Topside-->