{% extends 'partials/base_error.html' %}

{% block title %} Product Page Admin {% endblock %}

{% block content %}

{% load crispy_forms_tags %}

{% load static %}

<br>

<div class="container">
    <div class="row mt-12">
        
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-warning text-white">
                    Error
                </div>

                <span class="tab">
                <h3><strong>The page you requested couldn't be found!</strong></h3>
                </span>
            </div>
        </div>

    </div>

</div>




























{% endblock %}