{% extends 'partials/base.html' %}

{% block title %} Product Page Admin {% endblock %}

{% block content %}

{% load crispy_forms_tags %}

{% load static %}

{% include 'partials/sidepanel.html' %}

{% include 'partials/top_about.html' %}

<br>

<div class="container">
    <div class="row mt-12">
        
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-info text-white">
                    History
                </div>

                <span class="tab">
                <strong>Flipside Digital Content Company, Inc.</strong> is the culmination of over 26 years of content digitization, ebook conversion, distribution, and publishing services. Our management and operation teams have been at the forefront of the industry since it converted the first commercially sold ebook. We continue to push boundaries and explore innovative ways to build the best solutions for our clients. Whether it’s our core competency of layout, conversion, and digitization, or developing innovative techniques for content creation and distribution, we will find a way to address your specific need.

                No matter your size or scope, we provide the same level of professional, quality service. Indie publishers across all verticals (from STM/Academic to Trade Publishing) receive the same excellence in service as Apple, Pottermore, and Softbank Creative.</span>
            </div>
        </div>

    </div>

</div>




























{% endblock %}