{% extends 'partials/base.html' %}

{% block title %} Product Page Admin {% endblock %}

{% block content %}

{% load crispy_forms_tags %}

{% load static %}


<!--Table-->

<div class="container">
    <div class="row my-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    Job Order Overview
                </div>

                <div class="card-body">
                    <div class="container">
                        <div class="row mt-12">
                            <div class="col-md-12">
                                    <!--Table start-->
                                    <center><h3>Job Order {{ items.jo }} <i class="bi bi-box"></i></h3></center>
                                    <hr>
                                      <table class="table" id="prodView">
                                            <tr>
                                                <th scope="col" class="col-sm-4"><b>Item<b></th>
                                                <td>{{ items.product }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="col" class="col-sm-4"><b>Order by<b></th>
                                                <td>{{ items.employee }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="col" class="col-sm-4"><b>Person In Charge<b></th>
                                                <td>{{ items.person_in_charge }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="col" class="col-sm-4"><b>Date<b></th>
                                                <td>{{ items.date }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="col" class="col-sm-4"><b>Remarks<b></th>
                                                <td>{{ items.disposal_remarks }}</td>
                                            </tr>
                                            
                                      </table>
                                    <!--End table-->
                            </div>
                        </div>
                    </div>

            <a class="btn btn-info btn-sm" onClick="window.history.back();"> <i class="fa fa-reply" aria-hidden="true"></i> Go Back To Product Lists</a>
            <a class="btn btn-success btn-sm" href="#">Approve job order</a>
            
            

            
        </div>
    </div>
    </div>
    </div>

    <!--<form method="GET" enctype="multipart/form-data">
    <div class="card" style="width: 18rem">
        <div class="card-title">
            <div class="card-body">
                <h5>Filters: </h5>
                {{ myFilter.form|crispy }}
                <button class="btn btn-success" type="submit">Search</button>
            </div>
        </div>
    </div>
    </form>-->
</div>


<!--End Table-->


{% endblock %}