{% extends 'partials/base.html' %}

{% block title %} Product Page Admin {% endblock %}

{% block content %}

{% load crispy_forms_tags %}

{% load static %}

{% include 'partials/sidepanel.html' %}

{% include 'partials/topnav.html' %}

<!--Table-->
<div class="container">
    <div class="row my-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    Assets Table
                </div>

<div class="container">
    <!--MODAL BUTTON HERE-->
    <div class="row my-3">

    <button class="btn btn-info" data-toggle="modal" data-target="#myModal1" id="addModal">
        <a>Add Item <i class="fas fa-plus"></i></a>
    </button>

    &nbsp;&nbsp;
    <a class="btn btn-success btn-sm" href="{% url 'export-excel' %} ">Export Excel</a> &nbsp;&nbsp;
    <a class="btn btn-success btn-sm" href="{% url 'export-csv' %}">Export CSV</a>
    
    <!-- solo search bar -->
    
     <!-- &nbsp;&nbsp;  -->
        <!-- <input type="text" placeholder="Search serial #" name="q" />
         <button class="btn btn-dark">Search</button> -->
        
    
    
    {% if items.has_previous and items.has_next %}
            &nbsp;&nbsp;
            <a class="btn btn-info btn-sm" href="{% url 'dashboard-product' %}?page={{items.previous_page_number}}">Prev</a>
            &nbsp;
            <span>Page {{ page_object.number }} of {{ p.num_pages }}</span>
            &nbsp;
            <a class="btn btn-info btn-sm" href="{% url 'dashboard-product' %}?page={{items.next_page_number}}">Next</a>

    {% elif items.has_previous %}
            &nbsp;&nbsp;
            <a class="btn btn-info btn-sm" href="{% url 'dashboard-product' %}?page={{items.previous_page_number}}">Prev</a>
            &nbsp;
            <span>Page {{ page_object.number }} of {{ p.num_pages }}</span>
            &nbsp;
            <a class="btn btn-info btn-sm disabled" href="#">Next</a>
            
    {% elif items.has_next %}
            &nbsp;&nbsp;
            <a class="btn btn-info btn-sm disabled" href="#">Prev</a>
            &nbsp;
            <span>Page {{ page_object.number }} of {{ p.num_pages }}</span>
            &nbsp;
            <a class="btn btn-info btn-sm" href="{% url 'dashboard-product' %}?page={{items.next_page_number}}">Next</a>

    {% else %}
            &nbsp;&nbsp;
            <a class="btn btn-info btn-sm disabled" href="#" >Prev</a>
            &nbsp;
            <span>Page 1 of {{ p.num_pages }} <b>|</b> <i>(Items {{ item_range }} to {{ item_range2 }})</i></span>
            &nbsp;
            <a class="btn btn-info btn-sm disabled" href="#">Next</a>

    {% endif %}
    


    </div>
</div>




<div class="container">
    <div class="row my-1">
        


<!-- Modal -->

  <div class="modal fade" id="myModal1" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content"  style="width: 900px;">
        <div class="modal-header">
            <h4>Enroll an Item:</h4>
            <hr>
        </div>
        <div class="modal-body">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <!--First Row Product Form-->
                <div class="form-row">

                    <div class="form-group col-md-4 mb-0">
                        {{ form.model_name|as_crispy_field }}
                    </div>

                    <div class="form-group col-md-4 mb-0">
                        {{ form.serial_number|as_crispy_field }}
                    </div>

                    <div class="form-group col-md-4 mb-0">
                        {{ form.status|as_crispy_field }}
                    </div>

                </div>
                <!--End of First Row!-->

                <!--Second Row Product Form-->
                <div class="form-row">

                    <div class="form-group col-md-4 mb-0">
                        {{ form.asset_type|as_crispy_field }}
                    </div>

                    <div class="form-group col-md-4 mb-0">
                        {{ form.site|as_crispy_field }}
                    </div>

                    <div class="form-group col-md-4 mb-0">
                        {{ form.date|as_crispy_field }}
                    </div>

                </div>
                <!--End of Second Row!-->

                <!--Third Row Product Form-->
                <div class="form-row">

                    <div class="form-group col-md-4 mb-0">
                        {{ form.department|as_crispy_field }}
                    </div>

                    <div class="form-group col-md-4 mb-0">
                        {{ form.supplier_name|as_crispy_field }}
                    </div>

                    <div class="form-group col-md-4 mb-0">
                        {{ form.asset_image|as_crispy_field }}
                    </div>

                </div>
                <!--End of Third Row!-->

                <div class="form-row">

                    <div class="form-group col-md-4 mb-0">
                        {{ form.remarks|as_crispy_field }}
                    </div>

                    
                    

                </div>

                <input class="btn btn-success btn-block" type="submit" value="Add Product">
                <button type="button" class="btn btn-danger btn-block" data-dismiss="modal">Close</button>
            </form>
        </div>
      </div>
      
        </div>
  </div>



                {% for message in messages %}
                {% if message %}
                <div style="padding-left: 15px;">
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                </div>
                {% endif %}
                {% endfor %}

        <div class="col-md-12">
            <table class="table bg-white" id="prod">
                <thead class="bg-info">
                    <tr class="text-white">
                        {% if items %}
                        <th scope="col">Item #</th>
                        <!--<th scope="col">ATN</th>-->
                        <th scope="col">Model Name</th>
                        <th scope="col">Asset Type</th>
                        <th scope ="col">Site</th>
                        <th scope="col">Serial #</th>
                        <th scope="col">Date Purchased</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>{{forloop.counter0|add:page_object.start_index}}</td> 
                        <!--<td>{{ item.atn }}</td>-->
                        <td>{{ item.model_name }}</td>
                        <td>{{ item.asset_type }}</td>
                        <td>{{ item.serial_number}}</td>
                        <td>{{ item.date}}</td>
                        
                        <td>
                            <a class="btn btn-primary btn-sm" href="{% url 'dashboard-product-view' item.id %}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a class="btn btn-info btn-sm" href="{% url 'dashboard-product-update' item.id %}"><i class="fas fa-pen"></i></a>
                            <a class="btn btn-danger btn-sm" href="{% url 'dashboard-product-delete' item.id %}"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    {% endfor %}

                        {% else %}
                        <thead class="bg-info">
                            <tr class="text-white">
                                
                                <th scope="col">Item #</th>
                                <th scope="col">Model Name</th>
                                <th scope="col">Asset Type</th>
                                <th scope="col">Serial #</th>
                                <th scope="col">Site</th>
                                <th scope="col">Department</th>
                                <th scope="col">Status</th>
                                <th scope="col">Date</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            <tr>
                                <td colspan="9">No results found!</td> 
                            </tr>
                        {% endif %}
                </tbody>
            </table>
            
            <div style="margin-bottom:10px;">
            {% if items.has_previous and items.has_next %}
            <a class="btn btn-info btn-sm" href="{% url 'dashboard-product' %}?page={{items.previous_page_number}}">Prev</a>
            <span>Page {{ page_object.number }} of {{ p.num_pages }}</span>
            <a class="btn btn-info btn-sm" href="{% url 'dashboard-product' %}?page={{items.next_page_number}}">Next</a>

            {% elif items.has_previous %}
            <a class="btn btn-info btn-sm" href="{% url 'dashboard-product' %}?page={{items.previous_page_number}}">Prev</a>
            <span>Page {{ page_object.number }} of {{ p.num_pages }}</span>
            <a class="btn btn-info btn-sm disabled" href="#">Next</a>
            
            {% elif items.has_next %}
            <a class="btn btn-info btn-sm disabled" href="#">Prev</a>
            <span>Page {{ page_object.number }} of {{ p.num_pages }}</span>
            <a class="btn btn-info btn-sm" href="{% url 'dashboard-product' %}?page={{items.next_page_number}}">Next</a>

            {% else %}
            
            <a class="btn btn-info btn-sm disabled" href="#">Prev</a>
            <span>Page 1 of {{ p.num_pages }} <b>|</b> <i>(Items {{ item_range }} to {{ item_range2 }})</i></span>
            <a class="btn btn-info btn-sm disabled" href="#">Next</a>

            {% endif %}


            <!--{% if items.has_previous %}
            <a class="btn btn-info btn-sm" href="{% url 'dashboard-product' %}?page={{items.previous_page_number}}">Prev</a>
            <span>Page {{ page_object.number }} of {{ p.num_pages }}</span>
            <a class="btn btn-info btn-sm disabled" href="#">Next</a>
            {% endif %}

            {% if items.has_next %}
            
            <a class="btn btn-info btn-sm disabled" href="#">Prev</a>
            <span>Page {{ page_object.number }} of {{ p.num_pages }}</span>
            <a class="btn btn-info btn-sm" href="{% url 'dashboard-product' %}?page={{items.next_page_number}}">Next</a>
            

            {% endif %}-->




            
        </div>
    </div>
</div>

    <!--<form method="GET" enctype="multipart/form-data">
    <div class="card" style="width: 18rem">
        <div class="card-title">
            <div class="card-body">
                <h5>Filters: </h5>
                {{ myFilter.form|crispy }}
                <button class="btn btn-success" type="submit">Search</button>
            </div>
        </div>
    </div>
    </form>-->
</div>
</div>


<script type="text/javascript">
    
    const open = document.getElementById('open');
    const modal_container = document.getElementById('modal_container');
    const close = document.getElementById('close');

    open.addEventListener('click', () => {
      modal_container.classList.add('show')
    })

    close.addEventListener('click', () => {
      modal_container.classList.remove('show')
    })

</script>

<!--End Table-->


{% endblock %}