{% extends 'partials/base.html' %}

{% block title %} Product Filter Admin {% endblock %}

{% block content %}

{% load crispy_forms_tags %}

{% load static %}

{% include 'partials/sidepanel.html' %}

{% include 'partials/topnav1.html' %}

<!--Table-->

<div class="container">
    <div class="row my-4">
        <div class="col-md-4">
        <form method="GET" enctype="multipart/form-data">
            <div class="card">
                <div class="card-title">
                    <div class="card-body">
                        
                        <h4>Filters</h4>
                        <hr>
                        {{ myFilter.form|crispy }}
                        <button class="btn btn-success" type="submit">Search</button>
                        
                    </div>
                </div>
            </div>
        </form>
        </div>

        <div class="col-md-8">
            <table class="table bg-white" id="prodf">
                <thead class="bg-info">
                    <tr class="text-white">
                        {% if items %}
                        <th scope="col">Item #</th>
                        <th scope="col">Model Name</th>
                        <th scope="col">Asset Type</th>
                        <th scope="col">Serial #</th>
                        
                        
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <td>{{forloop.counter0|add:page_object.start_index}}</td> 
                        <td>{{ item.model_name }}</td>
                        <td>{{ item.asset_type }}</td>
                        <td>{{ item.serial_number}}</td>
                        
                        
                        <td>
                            <a class="btn btn-primary btn-sm" href="{% url 'dashboard-product-view' item.id %}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                            <a class="btn btn-info btn-sm" href="{% url 'dashboard-product-update' item.id %}"><i class="fas fa-pen"></i></a>
                            <a class="btn btn-danger btn-sm" href="{% url 'dashboard-product-delete' item.id %}"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    {% endfor %}

                        {% else %}
                        <thead class="bg-info">
                            <tr class="text-white">
                                
                                <th scope="col">Item #</th>
                                <th scope="col">Model Name</th>
                                <th scope="col">Asset Type</th>
                                <th scope="col">Serial #</th>
                                <th scope="col">OR #</th>
                                <th scope="col">Department</th>
                                <th scope="col">Status</th>
                                <th scope="col">Date</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            <tr>
                                <td>No results found!</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                        {% endif %}
                </tbody>
            </table>
            
            {% if items.has_previous and items.has_next %}
            <a class="btn btn-info btn-sm" href="{% url 'dashboard-product-filter1' %}?page={{items.previous_page_number}}">Prev</a>
            <span>Page {{ page_object.number }} of {{ p.num_pages }}</span>
            <a class="btn btn-info btn-sm" href="{% url 'dashboard-product-filter1' %}?page={{items.next_page_number}}">Next</a>

            {% elif items.has_previous %}
            <a class="btn btn-info btn-sm" href="{% url 'dashboard-product-filter1' %}?page={{items.previous_page_number}}">Prev</a>
            <span>Page {{ page_object.number }} of {{ p.num_pages }}</span>
            <a class="btn btn-info btn-sm disabled" href="#">Next</a>
            
            {% elif items.has_next %}
            <a class="btn btn-info btn-sm disabled" href="#">Prev</a>
            <span>Page {{ page_object.number }} of {{ p.num_pages }}</span>
            <a class="btn btn-info btn-sm" href="{% url 'dashboard-product-filter1' %}?page={{items.next_page_number}}">Next</a>

            {% else %}
            
            <a class="btn btn-info btn-sm disabled" href="#">Prev</a>
            <span>Page 1 of {{ p.num_pages }}</span>
            <a class="btn btn-info btn-sm disabled" href="#">Next</a>

            {% endif %}

            <!--{% if items.has_previous %}
            <a class="btn btn-info btn-sm" href="{% url 'dashboard-product-filter' %}?page={{items.previous_page_number}}">Prev</a>
            <span>Page {{ page_object.number }} of {{ p.num_pages }}</span>
            <a class="btn btn-info btn-sm disabled" href="#">Next</a>
            {% endif %}

            {% if items.has_next %}
            
            <a class="btn btn-info btn-sm disabled" href="#">Prev</a>
            <span>Page {{ page_object.number }} of {{ p.num_pages }}</span>
            <a class="btn btn-info btn-sm" href="{% url 'dashboard-product-filter' %}?page={{items.next_page_number}}">Next</a>
            
            {% endif %}-->

            <a class="btn btn-success btn-sm" href="{% url 'export-excel' %}">Export Excel</a>
            <a class="btn btn-success btn-sm" href="{% url 'export-csv' %}">Export CSV</a>

        </div>
    </div>

    
</div>


<!--End Table-->


{% endblock %}